.cities-list__item {
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Proto Grotesk Web Light', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.27;
  text-transform: capitalize;
}