.header {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1440px) {
  .header {}
}

@media (max-width: 900px) {
  .header {
    padding: 0 10px;
    min-height: 50px;
  }
}

.header_type_position-fixed {
  position: fixed;
  background: #F3F2F2;
  z-index: 50;
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
  max-width: inherit;
}

.header__logo {
  padding-bottom: 6px;
  display: block;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 1.12;
  color: #224CFF;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
}

.header__logo:hover {
  opacity: 0.7;
}

@media (max-width: 1375px) {
  .header__logo {
    order: 2;
    margin: 0 auto 0 auto;
    font-size: 17.5px;
    line-height: 17px;
    padding-bottom: 0;
  }
}

@media (max-width: 1024px) {
  .header__logo {
    padding-bottom: 5px;
  }
}

@media (max-width: 1375px) {
  .navigation {
    display: none;
  }
}

.navigation_place_header {
  max-width: 760px;
  margin: 0 auto 4px;
}

.navigation__links {
  display: grid;
  padding: 0px;
  margin: 0;
}

.navigation__links_place_header {
  grid-template-columns: repeat(6, minmax(auto, max-content));
  column-gap: 30px;
  padding: 0;
  row-gap: 10px;
}

@media (max-width: 1375px) {
  .navigation__links_place_header {
    display: none;
  }
}

.navigation__list {
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  transition: opacity 0.2s ease-out;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_place_header {
  color: #000000;
}

.header__form-search {
  order: 2;
  margin: 0 auto;
  min-height: 800px;
  width: 68%;
  margin-right: 18px;
  margin-left: 10px;
  margin-top: 4px;
}

@media (max-width: 1375px) {
  .header__form-search {
    order: 4;
    width: 100%;
  }
}

.display-none {
  display: none;
}

.header__field {
  position: relative;
}

.header__input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  border-bottom: 1px solid #000000;
  margin-bottom: 44px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

@media (max-width: 1024px) {
  .header__input {
    font-size: 15px;
    line-height: 21px;
  }
}

@media (max-width: 400px) {
  .header__input {
    margin-bottom: 30px;
  }
}

.header__input-error {
  color: red;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
}

.header__answer {
  margin: 0 0 15px 0;
  border-bottom: 0.5px solid #A7A6A6;
}

@media (max-width: 400px) {
  .header__answer {
    margin-bottom: 10px;
  }
}

.header__title {
  margin: 0;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}

@media (max-width: 1024px) {
  .header__title {
    font-size: 19px;
    line-height: 23px;
  }
}

.header__category {
  margin: 10px 0 15px 0;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #224CFF;
}

@media (max-width: 1024px) {
  .header__category {
    margin: 5px 0 10px 0;
    font-size: 12px;
    line-height: 17px;
  }
}

.header__search {
  background: url(../../images/header-search.svg) no-repeat 100%/cover;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  order: 1;
  margin-left: 103px;
}

.header__search:hover {
  opacity: 0.7;
}

.header__search:focus {
  outline: none;
}

@media (max-width: 1600px) {
  .header__search {
    margin-left: 0;
  }
}

@media (max-width: 1375px) {
  .header__search {
    order: 1;
  }
}

.header__divisor {
  margin: 0 3px 0 3px;
  width: 20px;
  height: 0px;
  border: 0.7px solid #A7A6A6;
  transform: rotate(90deg);
  order: 3;
}

@media (max-width: 1375px) {
  .header__divisor {
    display: none;
  }
}

.header__account {
  background: url(../../images/header-account.svg) no-repeat 100%/cover;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  order: 4;
  margin-top: 4px;
}

.header__account:hover {
  opacity: 0.7;
}

.header__account:focus {
  outline: none;
}

@media (max-width: 1375px) {
  .header__account {
    display: none;
  }
}

.header__account_authorized {
  background: url(../../images/header-account-auth.svg) no-repeat 100%/cover;
}

.header__menu {
  display: none;
  cursor: pointer;
}

.header__menu:hover {
  opacity: 0.7;
}

.header__menu :focus {
  outline: none;
}

@media (max-width: 1375px) {
  .header__menu {
    display: block;
    order: 3;
    background: url(../../images/header-menu.svg) no-repeat 100%/cover;
    width: 30px;
    height: 20px;
    border: none;
  }
}

.popup-menu {
  width: 100%;
  min-height: 500px;
  background: #FFFFFF;
  border-radius: 0px 0px 30px 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s, opacity 1s;
}

.visible-block {
  opacity: 1;
  visibility: visible;
}

.popup-menu__header {
  display: flex;
  margin-top: 10px;
}

.popup-menu__search {
  background: url(../../images/header-search.svg) no-repeat 100%/cover;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.popup-menu__search:focus {
  outline: none;
}

.popup-menu__account {
  background: url(../../images/header-account-auth.svg) no-repeat 100%/cover;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  margin-right: auto;
}

@media screen and (max-width: 400px) {
  .popup-menu__account {
    margin-right: 14px;
  }
}

.popup-menu__logo {
  padding-top: 8px;
  display: block;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.12;
  color: #224CFF;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 400px) {
  .popup-menu__logo {
    padding-top: 3px;
  }
}

.popup-menu__close {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  width: 20px;
  height: 20px;
  background: url(../../images/popup-log-in-button-close.png) transparent no-repeat center center/100%;
  margin: 5px 19px 0 auto;
}

.popup-menu__close:focus {
  outline: none;
}

.popup-menu__close:hover {
  opacity: .6;
  cursor: pointer;
}

.popup-menu__navigation {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.popup-menu__links {
  margin: 0;
  padding: 0;
  margin-right: 25px;
  margin-left: 5px;
  }

  .popup-menu__list {
    list-style-type: none;
    margin-bottom: 15px;
    line-height: 17px;
    }

    .popup-menu__link {
      text-decoration: none;
      font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #000000;
    }

    .popup-menu__footer {
      margin: auto auto 30px;
      display: flex;
      font-family: PT Root UI;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      color: #A7A6A6;
    }

    .popup_menu__city {
      margin: 0;
    }

    .popup-menu__change-city {
      font-family: PT Root UI;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      color: #A7A6A6;
      border:none;
      background: transparent;
      margin-right: 62px;
    }
    
    .popup-menu__change-city:focus {
      outline: none;
    }
    
    .popup-menu__change-city:hover {
      cursor: pointer;
    }

    .popup-menu__exit {
      font-family: PT Root UI;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 21px;
      color: #A7A6A6;
      border:none;
      background: transparent
    }
    
    .popup-menu__exit:focus {
      outline: none;
    }
    
    .popup-menu__exit:hover {
      cursor: pointer;
    }
    