.filterTags {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    font-family: Proto Grotesk Web Light;
    font-style: normal;
    font-weight: 300;
    font-size: 74px;
    line-height: 80px;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 0 0 25px;
    margin: 0;
}

@media (max-width: 1024px) {
    .title {
        font-size: 37px;
        line-height: 39px;
        padding-bottom: 10px;
    }
}

.menu {
    position: relative;
    max-width: 1100px;
    display: grid;
    justify-content: center;
    margin: 0 auto;
}

.menu__pseudo-block {
    position: absolute;
    width: 48px;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent, #f3f2f2);
    z-index: 1;
    display: none;
}

@media (max-width: 1024px) {
    .menu__pseudo-block {
        width: 41px;
        display: block;
    }
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.menu__list::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px) {
    .menu__list {
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: unset;
    }
    .menu__list:nth-of-type(2) {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .menu__list:nth-of-type(2) {
        justify-content: unset;
    }
}

.block-questions {
    display: grid;
    box-sizing: border-box;
    grid-gap: 30px;
    flex-grow: 1;
    align-content: flex-start;
    justify-items: center;
    padding-top: 81px;
    margin-right: 100px;
}

@media (max-width: 1024px) {
    .block-questions {
        padding-top: 50px;
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    .block-questions {
        padding-top: 30px;
    }
}
