.question {
  max-width: 870px;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  border-radius: 30px;
}

.question__button {
  position: absolute;
  background-color: #c8d1ff;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border: none;
  right: -151px;
  top: 50%;
  transform: translate(0, -37%);
  background-image: url(../../images/block-question-button-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24%;
  transition: transform 0.25s;
}

.question__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .question__button {
    width: 50px;
    height: 50px;
    right: 0;
    top: unset;
    transform: unset;
    bottom: -57px;
  }
}

@media (max-width: 400px) {
  .question__button {
    bottom: -60px;
  }
}

.question__button_active {
  transform: scale(0.85) translate(0, -37%);
}

@media (max-width: 1024px) {
  .question__button_active {
    transform: scale(0.85);
  }
}

.question__tags-area {
  display: flex;
  margin: 0 50px;
}

.question__category {
  background: #f3f2f2;
  border-radius: 15px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #464646;
  text-decoration: none;
  min-height: 17px;
  margin-bottom: 47px;
  padding: 2px 7px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .question__category {
    margin: 0 15px 43px;
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 30px;
  }
  .question__category:nth-child(n + 3) {
    display: none;
  }
}

.question__category_style_on-answer {
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .question__category_style_on-answer {
    margin-bottom: 37px;
  }
}

.question__answer {
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #1a1a1a;
  margin: 0 50px 50px;
  display: none;
}

.question__answer_visible {
  display: block;
}

@media (max-width: 1024px) {
  .question__answer {
    font-size: 15px;
    line-height: 21px;
    margin: 0 15px 30px;
  }
}

.question__link {
  text-decoration: none;
}

.question__title {
  max-width: 770px;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  margin: 50px 50px 15px;
  position: relative;
  color: #000;
}

.question__title:hover {
  color: #224cff;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .question__title {
    margin: 30px 15px 15px;
    font-size: 19px;
    line-height: 23px;
    min-width: calc(100% - 30px);
  }
}

@media (max-width: 400px) {
  .question__title {
    margin-bottom: 15px;
    min-width: calc(100% - 100px);
  }
}
