.background-purple {
  background-color: #c8d1ff;
}

.background-green {
  background-color: #8cdd94;
}

.background-red {
  background-color: #ff8585;
}

.background-orange {
  background-color: #f8d162;
}

.form-circle {
  border-radius: 50%;
}

.form-semicircle {
  border-radius: 50% 50% 3px 3px;
}

.form-default {
  border-radius: none;
}

.block-rights__category {
  padding: 2px 7px;
  margin: 15px 0 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  font-family: PT Root UI;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #464646;
}

.block-rights__title {
  margin: 0;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #1a1a1a;
}

@media (max-width: 1024px) {
  .block-rights__title {
    font-size: 19px;
    line-height: 23px;
  }
}

.block-rights__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 55px;
  width: 100%;
  text-decoration: none;
}

.block-rights__wrapper:hover {
  opacity: 0.8;
}

@media (max-width: 1440px) {
  .block-rights__wrapper {
    padding: 0 30px;
  }
}

@media (max-width: 1024px) {
  .block-rights__wrapper {
    max-width: 290px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.block-rights {
  height: 100%;
  display: flex;
}

.block-rights::before {
  content: "";
  padding-top: 100%;
}

@media (max-width: 1024px) {
  .block-rights {
    max-height: 290px;
  }
}

@media (min-width: 1840px) {
  .guide-container__card:nth-child(n + 20) {
    display: none;
  }
}

@media (max-width: 1839px) {
  .guide-container__card:nth-child(n + 13) {
    display: none;
  }
}

@media (max-width: 1199px) {
  .guide-container__card:nth-child(n + 8) {
    display: none;
  }
}

