.popup__container_type_error {
  padding: 59px 28% 30px 30px;
  box-sizing: border-box;
  background-color: #F2E5E5;
  max-width: 770px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 30px;
  margin: 0;
}