.not-found {
  display: flex;
  flex-direction: column;
}

.not-found__image {
  min-width: 570px;
  min-height: 199px;
  padding: 0;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../../images/not-found-image.svg');
}

.not-found__title {
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -2px;
  color: #000000;
  padding: 36px 0 30px 0;
  margin: 0 auto;
}

.not-found__info {
  max-width: 770px;
  margin: 0 auto;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #000000;
}

.not-found__button {
  border: 1px solid #224CFF;
  max-width: 195px;
  min-height: 48px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  padding: 14px 19px;
  text-decoration: none;
  background: transparent;
  margin: 50px auto 0;
  font-family: Proto Grotesk Web Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #224CFF;
}